<div>
    <div layout="column" style="padding-bottom: 15px;">
        <md-toolbar class="md-fab">
            <div class="md-toolbar-tools">
                <span class="md-flex">About the Developer</span>
            </div>
        </md-toolbar>
        <md-content layout="row" layout-align="center center">
            <md-card>
                <md-card-content>
                    <div layout="row">
                        <div layout="column" flex="">
                            <h2 class="md-title">Muhammad Junaid Salaat</h2>
                            <div style="padding-right: 20px">
                                <p>
                                    As a Web Developer and a UI Designer, I am excellent at building SPA (Single Page Applications) using the following: Javascript, Angularjs, Ionic, Node.js, Express.js, MongoDB, PhoneGap, Firebase, Parse. Bootstrap, CSS3, HTML5 and ejs templates.
                                </p>
                            </div>
                            <h4>
                                If you like this project . Please Star it here. You can view it complete here. <a href="https://github.com/mjunaidsalaat/Material-ToDo">MaterialToDo</a>
                            </h4>


                        </div>
                        <!--<div layout="column" flex=""></div>-->
                        <!--<div layout="column" flex="">-->
                        <img src="https://avatars1.githubusercontent.com/u/9829936?v=3&s=460" class="md-card-image" height="200px" >
                        <!--</div>-->
                    </div>

                </md-card-content>
            </md-card>
        </md-content>

        <md-content layout="row" layout-align="end end">
            <md-card>
                <md-card-content >
                    <div class="marginBottom"><span><md-icon md-svg-src class=" icon ion-email" style="font-size: x-large;"></md-icon> mjunaidsalaat@gmail.com</span></div>
                    <div class="marginBottom"><span><md-icon md-svg-src class=" icon ion-social-linkedin-outline" style="font-size: x-large;"></md-icon> /in/mjunaidsalaat</span></div>
                    <div class="marginBottom"><span><md-icon md-svg-src class=" icon ion-social-facebook-outline" style="font-size: x-large;"></md-icon> /muhammadjunaid.mj</span></div>
                    <div class="marginBottom"><span><md-icon md-svg-src class=" icon ion-social-skype" style="font-size: x-large;"></md-icon> m.junaid_mj</span></div>


                </md-card-content>
            </md-card>
        </md-content>
    </div>
</div>