
<md-toolbar layout="row">
    <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
        <span class="visually-hidden">Menu</span>
    </button>
    <h1>Material ToDo</h1>

</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="">
            <h1 class="md-toolbar-tools">Welcome  <b>{{currentUser.FirstName}} {{currentUser.LastName}}</b></h1>
        </md-toolbar>
        <md-content>
            <ul class="menu-toggle-list" aria-hidden="false" style="list-style: none;padding: 0px">
                <li  >
                    <menu-link section="page" >
                        <a class="md-button md-default-theme docs-menus" tabindex="1" style="  display: block; padding: 0 16px 0 32px;">
                            <span>
                               My Tasks
                            </span>
                        </a>
                        <a class="md-button md-default-theme docs-menus" ng-click="logOut()" tabindex="1" style="  display: block; padding: 0 16px 0 32px;">
                            <span>
                                Log Out
                            </span>
                        </a>
                        <a class="md-button md-default-theme docs-menus" ng-click="changeState('about')" tabindex="1" style="  display: block; padding: 0 16px 0 32px;">
                            <span>
                                About the Developer
                            </span>
                        </a>
                    </menu-link>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <div flex id="content">
        <div layout="row" flex layout-align="left center">
            <md-card class="md-shadow-bottom-z-2">
                Status : You have {{todos.length}} Tasks from which {{remaining}} remains.
            </md-card>
        </div>

        <md-content layout="column" flex class="md-padding">
            <md-list>
                <md-item ng-repeat="item in todos track by $index">
                    <md-item-content >
                        <div flex="33" style="float: right">
                            <md-button class="md-fab md-fab-right" ng-click="showGridBottomSheet($index,$event)" style=" height: 28px; width: 35px;float: right">
                                <md-icon md-svg-src class=" ion-wrench" style="margin: 10px 5px;"></md-icon>
                                <md-tooltip>
                                    Actions
                                </md-tooltip>
                            </md-button>
                            <br/>
                            <div flex="33" style="float: right">
                                <p>Due Date</p><input disabled type="date" ng-model="item.DueDate" >
                            </div>
                        </div>


                        <div class="md-tile-left">
                            <md-switch ng-model="item.IsDone" ng-change="currentStateOfTasks($index)"  aria-label="Task Switch" />

                        </div>
                        <div class="md-tile-content ">
                            <h3><b>{{item.Task}}</b></h3>
                            <p>Description: {{item.Desc}}</p>
                            <!--<br/>-->
                            Priority : <span class="redColor" ng-if="item.Priority == 'High'">
                                {{item.Priority}}
                            </span>
                            <span class="orangeColor" ng-if="item.Priority == 'Medium'">
                                {{item.Priority}}
                            </span>
                            <span class="greenColor" ng-if="item.Priority == 'Low'">
                                {{item.Priority}}
                            </span>

                        </div>
                    </md-item-content>
                    <br/>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>

        </md-content>
    </div>
        <span class="">
                <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Use Android" style="  font-size: x-large;" ng-click="showAddNewTaskDialog($event)">
                    <md-icon md-svg-src class="md-icon icon ion-plus-round"></md-icon><md-tooltip>
                    Add New
                </md-tooltip>
                </md-button>
        </span>
</div>
