
<div>
    <div layout="column" style="padding-bottom: 15px;">
        <md-toolbar class="md-fab">
            <div class="md-toolbar-tools">
                <span class="md-flex">Sign In</span>
            </div>
        </md-toolbar>
        <md-content layout="row" layout-align="center center">
            <md-card>
                <md-card-content >
                    <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
                        <md-input-container flex>
                            <label class="md-accent">Username</label>
                            <input ng-model="user.userName">

                        </md-input-container>

                        <md-input-container flex>
                            <label>Password</label>
                            <input type="password" ng-model="user.password">

                        </md-input-container>

                    </md-content>
                    <section layout="row" layout-sm="column" layout-align="end center" >
                        <div>
                            <md-button class="md-primary md-raised"  ng-click="signInCheck()">Sign In</md-button>
                        </div>
                    </section>
                    <br/>
                    <section layout="row" layout-sm="column" layout-align="end center" >
                        <div flex="">Don't have an Account?</div>
                        <div>
                            <md-button class="md-accent md-raised"  ng-click="changeState('signUp')">Create an Account</md-button>
                        </div>
                    </section>

                </md-card-content>
            </md-card>
        </md-content>
        <div layout="row" layout-sm="column" layout-align="center center" ng-show="isSignInClicked" >
            <div>
                <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>

    </div>

</div>
